<h1>Enter a words and define them.</h1>

<form action="/dealerships" method="post">
  <label for="new_word"></label>
  <input id="new_word" name="new_word" type="text">
  <button type="submit" class="btn-lg btn-danger">Add Word</button>
</form>

<h2>Current word list:</h2>
<ul>
  <% @words.each() do |word| %>
    <li><a href="/define/<%= words.id() %>"><%= vehicle.model() %></a></li>
  <% end %>
</ul>
