<h1>Enter words and define them.</h1>

<form action="/addition" method="post">
  <label for="new_word">Add a word here:</label>
  <input id="new_word" name="new_word" type="text">
  <button type="submit" class="btn-lg btn-danger">Add Word</button>
</form>

<h2>Current word list:</h2>
<% if @word_list %>
  <% @word_list.each() do |this_word|  %>
  <ul>
    <li><%= this_word[1].to_s + " : " + this_word[0] %>
      <form action="/local_definition" method ="post">
        <input type="hidden" id='view_defs' name='view_defs' value='<%= this_word[1] %>'>
        <button name="view_defs" type="submit" value="<%= this_word[1] %>">View <%= this_word[0] %> Definitions</button>
      </form>
    </li>
  </ul>
  <% end %>
<% end %>
<br>
